@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Form</title>
</head>
<body>
    <div>
        <p>Sistema de Gerenciamento de Categoria - P3 Image</p>
        <h4>Crie seus campos, categorias e subcategorias</h4>
    </div>
</body>
</html>

